@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="page_banner bg_cover" style="background-image: url(/assets/images/about_us.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page_banner_content text-center">
                    <h3 class="page_title">About us</h3>
                    <ul class="breadcrumb justify-content-center">
                  
                    </ul>
                </div> <!-- page banner content -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>
<section class="about_area  pb-130">
    <div class="services_shape_1" style="background-image: url(assets/images/shape/shape-12.png)"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about_image mt-50">
                    <div class="image_1">
                        <img src="/assets/images/burn5.jpg" alt="about">
                    </div>
                    <div class="image_2">
                        <img src="/assets/images/burnt3.jpg" alt="about">

                    </div>
                </div> <!-- about image -->
            </div>
            <div class="col-lg-6">
                <div class="about_content_3 mt-45">
                    <h3 class="about_title">The Pan African Burn Society (PABS)</h3>
                    <p>
                        The Pan African Burn Society (PABS) is a dedicated organization committed to addressing the global and regional challenges posed by burn injuries. We strive to unite healthcare professionals, researchers, and advocates to improve the prevention, care, and rehabilitation of burn survivors across Africa and beyond.

                        Our mission is inspired by the legacy of the International Society for Burn Injury (ISBI), which has a rich history of promoting collaboration, education, and research in burn care since its inception in 1960. PABS aligns with ISBI’s goals to:
                    </p>
                </div> <!-- about image -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="section_title text-center pb-30">
                <img src="/assets/images/section_icon.png" alt="Icon">
                <h3 class="title">What we do</h3>
            </div> <!-- section title -->
        </div>
    </div> <!-- row -->
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-7">
            <div class="single_services_2 text-center mt-30 services_2_color_1">
                <div class="services_image">
                    <a href="#"><img src="/assets/images/prevention.jpg" alt="help"></a>
                </div>
                <div class="services_content">
                    <h4 class="services_title"><a href="#">Prevention</a></h4>
                    <p>
                        To share insights and foster awareness in the field of burns.
                    </p>
                </div>
            </div> <!-- single help -->
        </div>
        <div class="col-lg-4 col-md-7">
            <div class="single_services_2 text-center mt-30 services_2_color_2">
                <div class="services_image">
                    <a href="#"><img src="/assets/images/research.jpg" alt="help"></a>
                </div>
                <div class="services_content">
                    <h4 class="services_title"><a href="#">Research</a></h4>
                    <p>To promote and co-ordinate.</p>
                </div>
            </div> <!-- single help -->
        </div>
        <div class="col-lg-4 col-md-7">
            <div class="single_services_2 text-center mt-30 services_2_color_3">
                <div class="services_image">
                    <a href="#"><img src="/assets/images/coperation.jpg" alt="help"></a>
                </div>
                <div class="services_content">
                    <h4 class="services_title"><a href="#">Co-operation</a></h4>
                    <p>Helpgrove is a nonproﬁt organization supported by community leaders, corporate sponsors, churches.</p>
                </div>
            </div> <!-- single help -->
        </div>
        <div class="col-lg-4 col-md-7">
            <div class="single_services_2 text-center mt-30 services_2_color_1">
                <div class="services_image">
                    <a href="#"><img src="/assets/images/gallery/education.jpeg" style="max-height:235px;object-fit:cover" alt="help"></a>
                </div>
                <div class="services_content">
                    <h4 class="services_title"><a href="#">Education</a></h4>
                    <p>
                        To promote education about burns.
                    </p>
                </div>
            </div> <!-- single help -->
        </div>
        <div class="col-lg-4 col-md-7">
            <div class="single_services_2 text-center mt-30 services_2_color_2">
                <div class="services_image">
                    <a href="#"><img src="/assets/images/help-2.jpg" alt="help"></a>
                </div>
                <div class="services_content">
                    <h4 class="services_title"><a href="#">Higher standards of care</a></h4>
                    <p>To encourage higher standards of care in all countries</p>
                </div>
            </div> <!-- single help -->
        </div>
        <div class="col-lg-4 col-md-7">
            <div class="single_services_2 text-center mt-30 services_2_color_3">
                <div class="services_image">
                    <a href="#"><img src="/assets/images/advocacy.jpg" alt="help"></a>
                </div>
                <div class="services_content">
                    <h4 class="services_title"><a href="#">Advocacy</a></h4>
                    <p>Advocating for widespread awareness and action in addressing burn-related challenges through education and knowledge sharing.</p>
                </div>
            </div> <!-- single help -->
        </div>
    </div> <!-- row -->
</div>


<section class="volunteer_support pt-125 pb-130 mt-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="support_title text-center">
                    <h4 class="title">Our Partners</h4>
                </div> <!-- support title -->
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-2 col-sm-6">
                <div class="single_support d-flex align-items-center mt-30">
                    <div class="support_logo">
                        <img src="/assets/images/fire_fighters.png" class="partners_logo" alt="Logo">
                    </div>
                    <div class="support_content media-body">
                        <h5 class="title">Firefighters</h5>
                    </div>
                </div> <!-- support title -->
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="single_support d-flex align-items-center mt-30">
                    <div class="support_logo">
                        <img src="/assets/images/isbi.png" class="partners_logo" alt="Logo">
                    </div>
                    <div class="support_content media-body">
                        <h5 class="title">National & Regional Societies</h5>
                    </div>
                </div> <!-- support title -->
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="single_support d-flex align-items-center justify-content-center mt-30">
                    <div class="support_logo">
                        <img src="/assets/images/burn_centers.png"  class="partners_logo" alt="Logo">
                    </div>
                    <div class="support_content media-body">
                        <h5 class="title">Burn centers dols</h5>
                    </div>
                </div> <!-- support title -->
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="single_support d-flex align-items-center justify-content-center mt-30">
                    <div class="support_logo">
                        <img src="/assets/images/ngo.jpg" class="partners_logo" alt="Logo">
                    </div>
                    <div class="support_content media-body">
                        <h5 class="title">NGOs</h5>
                    </div>
                </div> <!-- support title -->
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="single_support d-flex align-items-center justify-content-center mt-30">
                    <div class="support_logo">
                        <img src="/assets/images/burn_survivors.webp" class="partners_logo" alt="Logo">
                    </div><div class="support_content media-body">
                        <h5 class="title">Burn survivor groups</h5>
                    </div>
                </div> <!-- support title -->
            </div> <div class="col-lg-2 col-sm-6">
                <div class="single_support d-flex align-items-center justify-content-center mt-30">
                    <div class="support_logo">
                        <img src="/assets/images/community-150125_960_720.png" class="partners_logo" alt="Logo">
                    </div><div class="support_content media-body">
                        <h5 class="title">Community groups</h5>
                    </div>
                </div> <!-- support title -->


            </div>

            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>
