@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="page_banner bg_cover " style="background-image:url(/assets/images/countries/conference.webp)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page_banner_content text-center">
                    <h3 class="page_title">Upcoming Events</h3>
                    <div class=" justify-content-center">

                        <h5 style="font-size:20px;color:#ffffff">11th Biannual Pan African Burns Congress</h5>
                        <h4 style="font-size:16px;color:#ffffff">29th to 31st October 2025</h4>
                        <h4 style="font-size:16px;color:#ffffff"> Nairobi - Kenya</h4>
                        <br/>
                       
                    </div>
                    <div>
                        <a href="www.panafricanburns.com/home/registrations" style="background-color:transparent;border:white solid 1px;color:white" class="main-btn mt-10 register">Register Conference</a>

                    </div>
                </div> <!-- page banner content -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>
<!--====== PAGE BANNER PART ENDS ======-->
<!--====== EVENT PART START ======-->
<section class="about_area  pb-20">
    <div class="services_shape_1" style="background-image: url(assets/images/shape/shape-12.png)"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about_image mt-50">
                    <div class="image_1">
                        <img src="~/assets/images/final one.png" alt="about">
                    </div>
                    <div class="image_2">
                        <img src="~/assets/images/countries/conference1.webp" alt="about">

                    </div>
                </div> <!-- about image -->
            </div>
            <div class="col-lg-6">
                <div class="about_content_3 mt-45">
                 
                    <p>
                        <h4 class="about_title">Upcoming (PABS) Conference! </h4>
                        <h4><strong>11th Biannual Pan African Burns Society Congress</strong></h4>   <br />
                        <strong>Theme:</strong>  One Vision, Many Voices: Unifying Efforts in Burn Care & Reconstruction in Africa<br />

                        Join us for the 11th Biannual Pan African Burns Congress, a landmark event bringing together healthcare professionals, researchers, and advocates dedicated to advancing burn care and reconstruction across the African continent.
                        <br />
                        <strong>
                            Event Details </strong>
                        <br />
                        <strong>
                            Dates: </strong>
                        29th to 31st October 2025 
                        <span style="color:crimson;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;font-weight:800;padding:15px;border-radius:15px" id="demo"></span>
                        <br />
                        <strong>
                            Location: </strong>
                                Nairobi, Kenya
                        <br />
                        <strong>


                            Register Now! 
                        </strong><br />
                        Be a part of this transformative event. Together, we can make a difference in burn care and reconstruction across Africa.
                    </p>
                </div> <!-- about image -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>
<section class="event_area_2 pt-10 pb-10">
    <div class="services_shape_1" style="background-image: url(assets/images/shape/shape-3.png)"></div>
    <div class="container">
        <h3 class="m-10">Past PABS conferences</h3>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_event event_color-1 mt-30">
                    <div class="event_image">
                        <img src="~/assets/images/countries/south_africa.jpg" alt="PABS Conference Côte d'Ivoire">
                        <div class="event_date d-flex align-items-center justify-content-center">
                            <img class="shape" src="~/assets/images/shape/shape-3.png" alt="shape">
                            <span class="date">2019</span>
                        </div>
                    </div>
                    <div class="event_content">
                        <p><img src="~/assets/images/map.png" alt="map"> <span>PABS Conference Durban, South Africa
</span></p>
                    </div>
                </div> <!-- single event -->
            </div><div class="col-lg-4 col-md-6">
                <div class="single_event event_color-1 mt-30">
                    <div class="event_image">
                        <img src="~/assets/images/countries/ethipia.webp" alt="PABS Conference Côte d'Ivoire">
                        <div class="event_date d-flex align-items-center justify-content-center">
                            <img class="shape" src="~/assets/images/shape/shape-3.png" alt="shape">
                            <span class="date">2017</span>
                        </div>
                    </div>
                    <div class="event_content">
                        <p><img src="~/assets/images/map.png" alt="map"> <span>PABS Conference Addis Ababa, Ethiopia
</span></p>
                    </div>
                </div> <!-- single event -->
            </div><div class="col-lg-4 col-md-6">
                <div class="single_event event_color-1 mt-30">
                    <div class="event_image">
                        <img src="~/assets/images/countries/cote_divo.jpg" alt="PABS Conference Côte d'Ivoire">
                        <div class="event_date d-flex align-items-center justify-content-center">
                            <img class="shape" src="~/assets/images/shape/shape-3.png" alt="shape">
                            <span class="date">2015</span>
                        </div>
                    </div>
                    <div class="event_content">
                        <p><img src="~/assets/images/map.png" alt="map"> <span>PABS Conference Yamoussoukro, Côte d'Ivoire</span></p>
                    </div>
                </div> <!-- single event -->
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single_event event_color-1 mt-30">
                    <div class="event_image">
                        <img src="~/assets/images/countries/ghana.jpeg" alt="PABS Conference Ghana">
                        <div class="event_date d-flex align-items-center justify-content-center">
                            <img class="shape" src="~/assets/images/shape/shape-3.png" alt="shape">
                            <span class="date">2013</span>
                        </div>
                    </div>
                    <div class="event_content">
                        <p><img src="~/assets/images/map.png" alt="map"> <span>PABS Conference Accra, Ghana</span></p>
                    </div>
                </div> <!-- single event -->
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single_event event_color-1 mt-30">
                    <div class="event_image">
                        <img src="~/assets/images/countries/south_africa.jpg" alt="PABS Conference South Africa">
                        <div class="event_date d-flex align-items-center justify-content-center">
                            <img class="shape" src="~/assets/images/shape/shape-3.png" alt="shape">
                            <span class="date">2011</span>
                        </div>
                    </div>
                    <div class="event_content">
                        <p><img src="~/assets/images/map.png" alt="map"> <span>PABS Conference Pretoria, South Africa</span></p>
                    </div>
                </div> <!-- single event -->
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single_event event_color-1 mt-30">
                    <div class="event_image">
                        <img src="~/assets/images/countries/nigeria.jpg" alt="PABS Conference Nigeria">
                        <div class="event_date d-flex align-items-center justify-content-center">
                            <img class="shape" src="~/assets/images/shape/shape-3.png" alt="shape">
                            <span class="date">2008</span>
                        </div>
                    </div>
                    <div class="event_content">
                        <p><img src="~/assets/images/map.png" alt="map"> <span>PABS Conference Abuja, Nigeria</span></p>
                    </div>
                </div> <!-- single event -->
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single_event event_color-1 mt-30">
                    <div class="event_image">
                        <img src="~/assets/images/countries/egypt.jpg" alt="PABS Conference Egypt">
                        <div class="event_date d-flex align-items-center justify-content-center">
                            <img class="shape" src="~/assets/images/shape/shape-3.png" alt="shape">
                            <span class="date">2007</span>
                        </div>
                    </div>
                    <div class="event_content">
                        <p><img src="~/assets/images/map.png" alt="map"> <span>PABS Conference Cairo, Egypt</span></p>
                    </div>
                </div> <!-- single event -->
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single_event event_color-1 mt-30">
                    <div class="event_image">
                        <img src="~/assets/images/countries/south_africa.jpg" alt="PABS Conference South Africa">
                        <div class="event_date d-flex align-items-center justify-content-center">
                            <img class="shape" src="~/assets/images/shape/shape-3.png" alt="shape">
                            <span class="date">2004</span>
                        </div>
                    </div>
                    <div class="event_content">
                        <p><img src="~/assets/images/map.png" alt="map"> <span>PABS Conference Pretoria, South Africa</span></p>
                    </div>
                </div> <!-- single event -->
            </div> <div class="col-lg-4 col-md-6">
                <div class="single_event event_color-1 mt-30">
                    <div class="event_image">
                        <img src="~/assets/images/countries/senegal.jpg" alt="PABS Conference South Africa">
                        <div class="event_date d-flex align-items-center justify-content-center">
                            <img class="shape" src="~/assets/images/shape/shape-3.png" alt="shape">
                            <span class="date">2003</span>
                        </div>
                    </div>
                    <div class="event_content">
                        <p><img src="~/assets/images/map.png" alt="map"> <span>PABS Conference Dakar, Senegal</span></p>
                    </div>
                </div> <!-- single event -->
            </div>


       </div>
       </div></section>