@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">

<div class="lightbox-gallery mt-60">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">PABS Past Events Gallery</h2>
        </div>
        <div class="row photos">
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/assets/images/gallery/four.jpeg" data-lightbox="photos"><img style="border-radius:10px" class="img-fluid" src="/assets/images/gallery/four.jpeg"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/assets/images/gallery/three.jpeg" data-lightbox="photos"><img style="border-radius:10px" class="img-fluid" src="/assets/images/gallery/three.jpeg"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/assets/images/gallery/two.jpeg" data-lightbox="photos"><img style="border-radius:10px" class="img-fluid" src="/assets/images/gallery/two.jpeg"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/assets/images/gallery/educatioan.jpeg" data-lightbox="photos"><img style="border-radius:10px" class="img-fluid" src="~/assets/images/gallery/education.jpeg"></a></div>
             </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>