@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!--====== PRELOADER PART START ======-->

    @* <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>ou
        </div>
    </div> *@
   

    <!--====== SLIDER PART START ======-->

    <section class="slider_area slider-active">
        <div class="single_slider">
            <div class="slider_image bg_cover" data-animation="kenburns" style="background-image: url(assets/images/conference.jpg)"></div> <!-- slider image -->
            <div class="slider_content_wrapper d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="slider_content text-center">
                                <h3 class="title" data-animation="fadeInUp" data-delay="0.5s">BOOK YOUR SLOT FOR UPCOMING BURN CONFERENCE</h3>
                            <p data-animation="fadeInUp" data-delay="1.5s">
                                11th Biannual Pan African Burns Congress 29th to 31st October 2025 Nairobi - Kenya
                            </p>
                           
                            <a href="/Home/Upload" class="main-btn" data-animation="fadeInUp" data-delay="1.2s">Submit Abstracts</a>
                            <a href="/home/registrations" class="main-btn" data-animation="fadeInUp" data-delay="1.2s">Register conference</a>
                        </div> <!-- slider content -->
                        </div>
                    </div> <!-- row -->
                </div> <!-- container -->
            </div> <!-- slider content wrapper -->
    </div> <div class="single_slider">
        <div class="slider_image bg_cover" data-animation="kenburns" style="background-image: url(assets/images/doctors1.jpg)"></div> <!-- slider image -->
        <div class="slider_content_wrapper d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slider_content text-center">
                            <h3 class="title" data-animation="fadeInUp" data-delay="0.5s">PAN AFRICAN BURN SOCIETY</h3>
                            <p data-animation="fadeInUp" data-delay="0.9s">Advancing Burn Care Across Africa: Uniting Education, Advocacy, Quality, and Collaboration for a Healthier Future.</p>
                            <a href="/home/aboutus" class="main-btn" data-animation="fadeInUp" data-delay="1.2s">Learn More</a>
                        </div> <!-- slider content -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- slider content wrapper -->
    </div> <!-- single slider -->

        <div class="single_slider">
            <div class="slider_image bg_cover" data-animation="kenburns" style="background-image: url(assets/images/doctors3.jpg)"></div> <!-- slider image -->
            <div class="slider_content_wrapper d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="slider_content text-center">
                             
                                <h2 class="title" data-animation="fadeInUp" data-delay="0.5s">Lifting Lives, Renewing Hope</h2>
                                <p data-animation="fadeInUp" data-delay="0.9s">Sponsor hands-on approach to burn training for the entire burn team Create a community for knowledge exchange</p>
                                <a href="/home/aboutus" class="main-btn" data-animation="fadeInUp" data-delay="1.2s">Learn More</a>
                            </div> <!-- slider content -->
                        </div>
                    </div> <!-- row -->
                </div> <!-- container -->
            </div> <!-- slider content wrapper -->
        </div> <!-- single slider -->

        <div class="single_slider">
            <div class="slider_image bg_cover" data-animation="kenburns" style="background-image: url(assets/images/gallery/compassion.jpg)"></div> <!-- slider image -->
            <div class="slider_content_wrapper d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="slider_content text-center">
                             
                                <h2 class="title" data-animation="fadeInUp" data-delay="0.5s">Compassion in Action</h2>
                                <p data-animation="fadeInUp" data-delay="0.9s">Promote burn prevention around the world in collaboration with other organizations Establish guidelines for optimizing burn care</p>
                            <a href="/home/aboutus" class="main-btn" data-animation="fadeInUp" data-delay="1.2s">Learn More</a>
                            </div> <!-- slider content -->
                        </div>
                    </div> <!-- row -->
                </div> <!-- container -->
            </div> <!-- slider content wrapper -->
        </div> <!-- single slider -->
    </section>

    <!--====== SLIDER PART ENDS ======-->
    <!--====== ABOUT PART START ======-->

    @* <section class="about_area pt-80 pb-130 bg_cover" style="background-image: url(assets/images/gray-bg.jpg)"> *@
        <div class="about_shape_1" style="background-image: url(assets/images/shape/shape-1.png)"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="about_left  mt-50">
                        <div class="about_image">
                            <img src="/assets/images/burnmeeting.png" alt="About">
                            <div class="help_title">
                                <h3 class="title">The founding of the Pan African Burns Society</h3>
                            </div>
                        </div>
                        <div class="about_content">
                            <h4 class="about_title" style="z-index:3">Founding of the Pan African Burns Society: A Milestone in Africa's Burn Care Advancement.</h4>
                            <p>The Pan African Burns Society (PABS) was officially established on May 18, 2004, during its inaugural conference in Cape Town, South Africa, marking a milestone in Africa's burn care advancement. Spearheaded by Dr. Elbie Van der Merwe and the Tygerberg Burns Unit, the event attracted 102 delegates, including African burn care workers and international experts like Dr. Naoki Aikawa and Dr. Michael Peck. The conference emphasized prevention, education, and high-standard care, setting the stage for biannual conferences across Africa.</p>
                        </div>
                    </div> <!-- about left -->
                </div>
                <div class="col-lg-4">
                    <div class="about_right d-flex flex-wrap">
                        <div class="single_about_items mt-50 color-1 text-center">
                            <div class="about_icon">
                                <img class="shape" src="assets/images/shape/shape-3.png" alt="shape">
                                <img class="icon" src="assets/images/a-icon-1.png" alt="icon">
                            </div>
                            <div class="about_content">
                                <h4 class="items_title">A Dedicated Team of Volunteers</h4>
                                <p>Key individuals, including Dr. Elbie Van der Merwe, Mrs. Ina Steenkamp, and Mariana Moss, along with a team from the Tygerberg Burns Unit</p>
                            </div>
                        </div> <!-- single about items -->
                        <div class="single_about_items mt-50 color-1 text-center">
                            <div class="about_icon">
                                <img class="shape" src="assets/images/shape/shape-3.png" alt="shape">
                                <img class="icon" src="assets/images/a-icon-2.png" alt="icon">
                            </div>
                            <div class="about_content">
                                <h4 class="items_title">Empowering Burn Care</h4>
                                <p>Advancing knowledge, skills, and hope for burn survivors.</p>
                            </div>
                        </div> <!-- single about items -->
                    </div> <!-- about right -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
        <div class="about_shape_2" style="background-image: url(assets/images/shape/shape-1.png)"></div>
    @* </section> *@

    <!--====== ABOUT PART ENDS ======-->
    <!--====== SERVICES PART START ======-->

   @*  <section class="service_area pt-130"> *@
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center pb-80">
                        <img src="/assets/images/section_icon.png" alt="Icon">
                        <h3 class="title">Our Core Values</h3>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row no-gutters justify-content-center">
                
                <div class="col-lg-4 col-md-7">
                    <div class="single_services  text-center services_2">
                        <div class="services_icon">
                            <img src="/assets/images/s-icon-2.png" alt="icon">
                        </div>
                        <div class="services_content">
                            <h4 class="services_title"><a href="#">Vision</a></h4>
                    <p>
                        To maintain and develop the role of the Pan African Burn Society as the African federation for those interested
                        in burns to include any and all national societies.
                    </p>
                        </div>
                    </div> <!-- single services -->
                </div>
        <div class="col-lg-4 col-md-7">
            <div class="single_services text-center services_1">
                <div class="services_icon">
                    <img src="/assets/images/s-icon-1.png" alt="icon">
                </div>
                <div class="services_content">
                    <h4 class="services_title"><a href="#">Mission</a></h4>
                    <p>
                        The purpose and aims of the Society shall be to promote core areas that are central to the treatment of patients<br />
                   
                        with burn injuries globally to include:<br/>
                        <span style="text-align:left">
                        1) Education, Research, and Training<br />
                        2) Public Policy and Advocacy<br />
                        3) Quality of Care<br />
                            4) Society Operations
                        </span>
                    </p>
                </div>
            </div> <!-- single services -->
        </div>
                <div class="col-lg-4 col-md-7">
                    <div class="single_services text-center services_3">
                        <div class="services_icon">
                            <img src="/assets/images/s-icon-3.png" alt="icon">
                        </div>
                        <div class="services_content">
                            <h4 class="services_title"><a href="#">Positioning statement</a></h4>
                    <p>
                        Patriotism is a commendable attribute but nationalism
                        is a form of conceit and intolerance that has done
                        untold harm...”
                    </p>
                        </div>
                    </div> <!-- single services -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== TESTIMONIAL PART ENDS ======-->
    <!--====== VOLUNTEER PART START ======-->

    <section class="volunteer_area pt-130 pb-130">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center pb-30">
                        <img src="assets/images/section_icon.png" alt="Icon">
                        <h3 class="title">The Co-Founders</h3>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single_volunteer mt-30 volunteer_color_1">
                        <div class="volunteer_image">
                            <img src="/assets/images/gallery/founder.jpeg" style="height:250px;width:200px" alt="Volunteer">
                            <div class="volunteer_social">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div> <!-- volunteer social -->
                        </div>
                        <div class="volunteer_content d-flex align-items-center justify-content-center">
                            <div class="content_wrapper">
                            <h5 class="volunteer_name"><a href="#">Elbie van der Merwe</a></h5>
                                <p>Founder</p>
                            </div>
                        </div>
                    </div> <!-- single volunteer -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_volunteer mt-30 volunteer_color_2">
                        <div class="volunteer_image">
                            <img src="assets/images/founder2.jpg" alt="Volunteer">
                            <div class="volunteer_social">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div> <!-- volunteer social -->
                        </div>
                        <div class="volunteer_content d-flex align-items-center justify-content-center">
                            <div class="content_wrapper">
                            <h5 class="volunteer_name"><a href="#">Richard E. Nnabuko</a></h5>
                                <p>Founder</p>
                            </div>
                        </div>
                    </div> <!-- single volunteer -->
                </div>
              
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== VOLUNTEER PART ENDS ======-->
    <!--====== EVENT PART START ======-->

 

    <!--====== EVENT PART ENDS ======-->
    <!--====== BLOG PART START ======-->

  
    <!--====== BLOG PART ENDS ======-->
    <!--====== FOOTER PART START ======-->


